h1  {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 1rem;
    margin-top: 2rem;
    text-align: center;
}

.table {
    width: 100%;
    margin-top: 1rem;
}

.admin-yes {
    color: rgb(79, 165, 83) !important;
    font-weight: bolder;
}

.admin-no {
    color: rgb(229, 16, 16) !important;
    font-weight: bolder;
}

/*Pagination*/
.custom-pagination {
    width: 100%;
    display: flex;
    justify-content: flex-end; 
}

.custom-pagination .pagination {
    background-color: #f0f0f0;
    border-radius: 5px; 
    padding: 10px; 
  }
  
  .custom-pagination .page-item .page-link {
    background-color: transparent;
    border: none;
    color: #000; 
  }
  
  .custom-pagination .page-item.active .page-link {
    background-color: #66686b; 
    color: #fff;
    border-radius: 5px;
  }
  
  .custom-pagination .page-item:hover .page-link {
    background-color: #e9ecef; 
    color: #000;
  }




